*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding: 0 5%;
    margin: 0 5%;
}
.content-box{
    display: flex;
    margin-bottom: 30px;
}
.container h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.content{
    width: 50%;
}
.content h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
    text-align: left;
    padding-left: 10px;
    border-left: 3px solid tomato;
}
.content h1 span ,.container h1 span{
    color: orange;
}

.content p{
    margin: 30px 0;
}
.content h2{
    font-size: 40px;
    font-family: 700;
}
.btn{
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    margin: 0 2%;
}
.content .banner-person{
    width: 80%;
    padding-left: 15%;
}
.content img{
    width: 80%;
}
.card{
    width: 30%;
    border-radius: 20px;
    margin: 10px;
    padding: 25px;
}
.card img{
    width: 50%;
}
#mission{
    background-color: #EDF5F6;
}
#vission{
    background-color: #FDECEC;
}
#goals{
    background-color: #FFF4D6;
}
.develop-area{
    margin-top: 50px;
}
.count{
    box-shadow: 0px 7px 18px 0px rgb(29 53 87 / 57%);
}
.count-area{
    margin-bottom: 50px;
}
footer{
    background-color: black;
    padding: 50px 0;
    text-align: center;
}
footer h2{
    font-size: 25px;
    color: #fff;
}
footer h2 span{
    color: tomato;
}

footer p{
    color: #939393;
}